@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #8758ff;
  --secondary-color: #dceafc;
  --tertiary-color: #1A1A40;
  --text-color: #fff;
  --placeholder-color: #ffffff4d;
  --border-color: #8758ff;
}

.logo {
  margin-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1,
h2 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  text-align: center;
}

.TodoWrapper {
  background: var(--tertiary-color);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: var(--text-color);
}

.todo-input::placeholder {
  color: var(--placeholder-color);
}

.time-input {
  outline: none;
  background: none;
  border: 1px solid var(--border-color);
  padding: 0.55rem;
  cursor: pointer;
  color: var(--text-color);
  height: 45px;
  border-radius: 10px;
}

.todo-btn {
  background: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 0.55rem;
  cursor: pointer;
  height: 45px;
  border-radius: 10px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: var(--tertiary-color);
  text-decoration: line-through;
}

.checkbox-and-text {
  display: flex;
  flex-direction: row;
}

.text {
  margin-left: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aliceblue;
  transition: 0.4s;
}

.completed .checkbox {
  background-color: var(--tertiary-color);
}

.delete-todo:hover {
  color: rgb(255, 24, 24);
}

.edit-todo:hover {
  color: var(--tertiary-color);
}

h3 {
  text-align: center;
  color: var(--text-color);
}

span {
  padding-right: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  align-items: center;
  /* padding: 20px 0; */
  border-bottom: 1px solid #e6e6e6;
  top: 0;
  background-color: #e5f0fc;
  width: 100%;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .TodoWrapper{
    margin: 0;
  }
  .form {
    width: 100%;
    margin: 0;
  }
  form{
    margin-left: -20px;
  }
.main{
  margin: 0;
  display: flex;
  flex-direction: column;
}

  .heading h1 {
    font-size: 2rem;
  }
li h3,
.btn {
  font-size: small;
}
.container1{
  width: 100%;
}
  .heading p {
    font-size: 1.5rem;
  }
}

.atm-container {
  width: 100%;
}

.atm-container img {
  cursor: pointer;
}
.atm-container h1 {
  color: #1A1A40;
}

.container1 {
  background-color: #1A1A40;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading h1 {
  font-size: 2.5rem;
  color: #1A1A40;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #2ea0eb;
  margin: 40px;
}

.get-started-button {
  background-color: #2ea0eb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: #2ea0eb;
}
.main{
  display: flex;
}
.cards{
  margin-top: 100px; 
  margin-left: 20px;
  width: 300px;
}
.cards h2 {
  color: #1A1A40;
}
.card {
  padding: 10px;
  border-radius: 5px;
  background-color: #1A1A40;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}